IMPORTING LIBRARIES

In [184]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt 
import seaborn as sns

IMPORTING DATASET

In [185]:
aviation_df = pd.read_csv('AviationData.csv', encoding='latin1')
aviation_df

c:\Users\Edgar James\Documents\ppyyt\envs\learn-env\lib\site-packages\IPython\core\interactiveshell.py:3145: DtypeWarning: Columns (6,7,28) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

,Event.Id,Investigation.Type,Accident.Number,Event.Date,Location,Country,Latitude,Longitude,Airport.Code,Airport.Name,...,Purpose.of.flight,Air.carrier,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured,Weather.Condition,Broad.phase.of.flight,Report.Status,Publication.Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaN
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,19-09-1996
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,26-02-2007
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,12-09-2000
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,16-04-1980
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,29-12-2022
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,27-12-2022
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,30-12-2022

EXPLORING DATASET

In [186]:
# determine the summary statistics of the dataset
aviation_df.describe()

,Number.of.Engines,Total.Fatal.Injuries,Total.Serious.Injuries,Total.Minor.Injuries,Total.Uninjured
count,82805.000000,77488.000000,76379.000000,76956.000000,82977.000000
mean,1.146585,0.647855,0.279881,0.357061,5.325440
std,0.446510,5.485960,1.544084,2.235625,27.913634
min,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,0.000000,0.000000,0.000000,0.000000
50%,1.000000,0.000000,0.000000,0.000000,1.000000
75%,1.000000,0.000000,0.000000,0.000000,2.000000
max,8.000000,349.000000,161.000000,380.000000,699.000000

In [187]:
# check the shape of the dataset
aviation_df.shape

(88889, 31)

In [188]:
#checking the data structure of the dataset
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  object
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  object
dtypes: float64(5), object(26)
memory usage: 21.0+ MB

In [189]:
#exploring the dataset for missing values
aviation_df.isnull().sum()

Event.Id                      0
Investigation.Type            0
Accident.Number               0
Event.Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport.Code              38640
Airport.Name              36099
Injury.Severity            1000
Aircraft.damage            3194
Aircraft.Category         56602
Registration.Number        1317
Make                         63
Model                        92
Amateur.Built               102
Number.of.Engines          6084
Engine.Type                7077
FAR.Description           56866
Schedule                  76307
Purpose.of.flight          6192
Air.carrier               72241
Total.Fatal.Injuries      11401
Total.Serious.Injuries    12510
Total.Minor.Injuries      11933
Total.Uninjured            5912
Weather.Condition          4492
Broad.phase.of.flight     27165
Report.Status              6381
Publication.Date          13771
dtype: int64

DATA MANIPULATION

In [190]:
#changing the Event date to datetime format
aviation_df['Event.Date'] = pd.to_datetime(aviation_df['Event.Date'])

In [191]:
#changing the Publishing date to datetime format
aviation_df['Publication.Date'] = pd.to_datetime(aviation_df['Publication.Date'])

In [192]:
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 31 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event.Id                88889 non-null  object
 1   Investigation.Type      88889 non-null  object
 2   Accident.Number         88889 non-null  object
 3   Event.Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Latitude                34382 non-null  object
 7   Longitude               34373 non-null  object
 8   Airport.Code            50249 non-null  object
 9   Airport.Name            52790 non-null  object
 10  Injury.Severity         87889 non-null  object
 11  Aircraft.damage         85695 non-null  object
 12  Aircraft.Category       32287 non-null  object
 13  Registration.Number     87572 non-null  object
 14  Make                    88826 non-null  object
 15  Model                   88797 non-null  object
 16  Amateur.Built           88787 non-null  object
 17  Number.of.Engines       82805 non-null  float64
 18  Engine.Type             81812 non-null  object
 19  FAR.Description         32023 non-null  object
 20  Schedule                12582 non-null  object
 21  Purpose.of.flight       82697 non-null  object
 22  Air.carrier             16648 non-null  object
 23  Total.Fatal.Injuries    77488 non-null  float64
 24  Total.Serious.Injuries  76379 non-null  float64
 25  Total.Minor.Injuries    76956 non-null  float64
 26  Total.Uninjured         82977 non-null  float64
 27  Weather.Condition       84397 non-null  object
 28  Broad.phase.of.flight   61724 non-null  object
 29  Report.Status           82508 non-null  object
 30  Publication.Date        75118 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(24)
memory usage: 21.0+ MB

In [193]:
#column 'Weather Condition' has categorical data UNK, VMC, IMC,Unk ,i want to standardize the Unk to UNK
aviation_df['Weather.Condition'] = aviation_df['Weather.Condition'].replace('Unk', 'UNK')
aviation_df['Weather.Condition'].value_counts()

VMC    77303
IMC     5976
UNK     1118
Name: Weather.Condition, dtype: int64

In [194]:
aviation_df.columns = aviation_df.columns.str.replace(".", " ", regex=False).str.title()
aviation_df.columns

Index(['Event Id', 'Investigation Type', 'Accident Number', 'Event Date',
       'Location', 'Country', 'Latitude', 'Longitude', 'Airport Code',
       'Airport Name', 'Injury Severity', 'Aircraft Damage',
       'Aircraft Category', 'Registration Number', 'Make', 'Model',
       'Amateur Built', 'Number Of Engines', 'Engine Type', 'Far Description',
       'Schedule', 'Purpose Of Flight', 'Air Carrier', 'Total Fatal Injuries',
       'Total Serious Injuries', 'Total Minor Injuries', 'Total Uninjured',
       'Weather Condition', 'Broad Phase Of Flight', 'Report Status',
       'Publication Date'],
      dtype='object')

In [195]:
aviation_df

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Latitude,Longitude,Airport Code,Airport Name,...,Purpose Of Flight,Air Carrier,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase Of Flight,Report Status,Publication Date
0,20001218X45444,Accident,SEA87LA080,1948-10-24,"MOOSE CREEK, ID",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,UNK,Cruise,Probable Cause,NaT
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,36.9222,-81.8781,NaN,NaN,...,Personal,NaN,3.0,NaN,NaN,NaN,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,1.0,2.0,NaN,0.0,VMC,Approach,Probable Cause,1980-04-16
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,0.0,NaN,NaN,NaN,2022-12-29
88885,20221227106494,Accident,ERA23LA095,2022-12-26,"Hampton, NH",United States,NaN,NaN,NaN,NaN,...,NaN,NaN,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,341525N,1112021W,PAN,PAYSON,...,Personal,NaN,0.0,0.0,0.0,1.0,VMC,NaN,NaN,2022-12-27
88887,20221227106498,Accident,WPR23LA076,2022-12-26,"Morgan, UT",United States,NaN,NaN,NaN,NaN,...,Personal,MC CESSNA 210N LLC,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaT
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,NaN,NaN,NaN,NaN,...,Personal,NaN,0.0,1.0,0.0,1.0,NaN,NaN,NaN,2022-12-30

DATA CLEANING

In [196]:
aviation_df.isnull().sum()

Event Id                      0
Investigation Type            0
Accident Number               0
Event Date                    0
Location                     52
Country                     226
Latitude                  54507
Longitude                 54516
Airport Code              38640
Airport Name              36099
Injury Severity            1000
Aircraft Damage            3194
Aircraft Category         56602
Registration Number        1317
Make                         63
Model                        92
Amateur Built               102
Number Of Engines          6084
Engine Type                7077
Far Description           56866
Schedule                  76307
Purpose Of Flight          6192
Air Carrier               72241
Total Fatal Injuries      11401
Total Serious Injuries    12510
Total Minor Injuries      11933
Total Uninjured            5912
Weather Condition          4492
Broad Phase Of Flight     27165
Report Status              6381
Publication Date          13771
dtype: int64

In [197]:
#checking the percentage of missing values in each column
missing_percentage = (aviation_df.isnull().sum() / len(aviation_df))*100
missing_percentage

Event Id                   0.000000
Investigation Type         0.000000
Accident Number            0.000000
Event Date                 0.000000
Location                   0.058500
Country                    0.254250
Latitude                  61.320298
Longitude                 61.330423
Airport Code              43.469946
Airport Name              40.611324
Injury Severity            1.124999
Aircraft Damage            3.593246
Aircraft Category         63.677170
Registration Number        1.481623
Make                       0.070875
Model                      0.103500
Amateur Built              0.114750
Number Of Engines          6.844491
Engine Type                7.961615
Far Description           63.974170
Schedule                  85.845268
Purpose Of Flight          6.965991
Air Carrier               81.271023
Total Fatal Injuries      12.826109
Total Serious Injuries    14.073732
Total Minor Injuries      13.424608
Total Uninjured            6.650992
Weather Condition          5.053494
Broad Phase Of Flight     30.560587
Report Status              7.178616
Publication Date          15.492356
dtype: float64

Dropping columns ,Latitude ,Longitude,Aircraft Category,Schedule,Far Description,Air Carrier.It is difficult to draw insights from these columns since a significant percentage of the values are missing

In [198]:
#dropping columns with a significant percentage of missing values
aviation_df = aviation_df.drop(columns=['Latitude', 'Longitude', 'Aircraft Category', 'Schedule', 'Far Description', 'Air Carrier'])
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 88889 entries, 0 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event Id                88889 non-null  object
 1   Investigation Type      88889 non-null  object
 2   Accident Number         88889 non-null  object
 3   Event Date              88889 non-null  datetime64[ns]
 4   Location                88837 non-null  object
 5   Country                 88663 non-null  object
 6   Airport Code            50249 non-null  object
 7   Airport Name            52790 non-null  object
 8   Injury Severity         87889 non-null  object
 9   Aircraft Damage         85695 non-null  object
 10  Registration Number     87572 non-null  object
 11  Make                    88826 non-null  object
 12  Model                   88797 non-null  object
 13  Amateur Built           88787 non-null  object
 14  Number Of Engines       82805 non-null  float64
 15  Engine Type             81812 non-null  object
 16  Purpose Of Flight       82697 non-null  object
 17  Total Fatal Injuries    77488 non-null  float64
 18  Total Serious Injuries  76379 non-null  float64
 19  Total Minor Injuries    76956 non-null  float64
 20  Total Uninjured         82977 non-null  float64
 21  Weather Condition       84397 non-null  object
 22  Broad Phase Of Flight   61724 non-null  object
 23  Report Status           82508 non-null  object
 24  Publication Date        75118 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(5), object(18)
memory usage: 17.0+ MB

In [199]:
#removing rows with missing values in Publication Date,Amateur Built,Location,Country,Make ,Registration Number ,Injury Severity and Model columns
aviation_df = aviation_df.dropna(subset=['Publication Date', 'Amateur Built', 'Location','Country', 'Make', 'Model', 'Registration Number','Injury Severity'])
aviation_df.isnull().sum()

Event Id                      0
Investigation Type            0
Accident Number               0
Event Date                    0
Location                      0
Country                       0
Airport Code              29938
Airport Name              28303
Injury Severity               0
Aircraft Damage            2108
Registration Number           0
Make                          0
Model                         0
Amateur Built                 0
Number Of Engines          3520
Engine Type                4584
Purpose Of Flight          4214
Total Fatal Injuries      10767
Total Serious Injuries    11515
Total Minor Injuries      10860
Total Uninjured            5081
Weather Condition          2576
Broad Phase Of Flight     24011
Report Status              4678
Publication Date              0
dtype: int64

CHECKING FOR DUPLICATES

In [200]:
aviation_df.duplicated().sum()

0

In [201]:
aviation_df.isnull().sum()

Event Id                      0
Investigation Type            0
Accident Number               0
Event Date                    0
Location                      0
Country                       0
Airport Code              29938
Airport Name              28303
Injury Severity               0
Aircraft Damage            2108
Registration Number           0
Make                          0
Model                         0
Amateur Built                 0
Number Of Engines          3520
Engine Type                4584
Purpose Of Flight          4214
Total Fatal Injuries      10767
Total Serious Injuries    11515
Total Minor Injuries      10860
Total Uninjured            5081
Weather Condition          2576
Broad Phase Of Flight     24011
Report Status              4678
Publication Date              0
dtype: int64

In [202]:
aviation_df[["Engine Type", "Number Of Engines", "Purpose Of Flight"]] = aviation_df[["Engine Type", "Number Of Engines", "Purpose Of Flight"]].fillna("Unknown")
aviation_df.isnull().sum()

Event Id                      0
Investigation Type            0
Accident Number               0
Event Date                    0
Location                      0
Country                       0
Airport Code              29938
Airport Name              28303
Injury Severity               0
Aircraft Damage            2108
Registration Number           0
Make                          0
Model                         0
Amateur Built                 0
Number Of Engines             0
Engine Type                   0
Purpose Of Flight             0
Total Fatal Injuries      10767
Total Serious Injuries    11515
Total Minor Injuries      10860
Total Uninjured            5081
Weather Condition          2576
Broad Phase Of Flight     24011
Report Status              4678
Publication Date              0
dtype: int64

In [203]:
aviation_df["Report Status"]= aviation_df["Report Status"].fillna("Unknown")

In [204]:
aviation_df["Weather Condition"]= aviation_df["Weather Condition"].fillna("Others")

In [205]:
aviation_df["Aircraft Damage"]= aviation_df["Aircraft Damage"].fillna("Unknown")

In [206]:
aviation_df.isnull().sum()

Event Id                      0
Investigation Type            0
Accident Number               0
Event Date                    0
Location                      0
Country                       0
Airport Code              29938
Airport Name              28303
Injury Severity               0
Aircraft Damage               0
Registration Number           0
Make                          0
Model                         0
Amateur Built                 0
Number Of Engines             0
Engine Type                   0
Purpose Of Flight             0
Total Fatal Injuries      10767
Total Serious Injuries    11515
Total Minor Injuries      10860
Total Uninjured            5081
Weather Condition             0
Broad Phase Of Flight     24011
Report Status                 0
Publication Date              0
dtype: int64

In [207]:
#Fill with 0 (since no record of injuries often means none reported
aviation_df["Total Fatal Injuries"] = aviation_df["Total Fatal Injuries"].fillna(0)
aviation_df["Total Serious Injuries"] = aviation_df["Total Serious Injuries"].fillna(0)
aviation_df["Total Minor Injuries"] = aviation_df["Total Minor Injuries"].fillna(0)
aviation_df["Total Uninjured"] = aviation_df["Total Uninjured"].fillna(0)

In [208]:
aviation_df['Broad Phase Of Flight'].value_counts()

Landing        12294
Takeoff         9869
Cruise          8129
Maneuvering     6463
Approach        5206
Climb           1644
Taxi            1585
Descent         1525
Go-around       1061
Standing         771
Unknown          395
Other             90
Name: Broad Phase Of Flight, dtype: int64

In [209]:
aviation_df.isnull().sum()

Event Id                      0
Investigation Type            0
Accident Number               0
Event Date                    0
Location                      0
Country                       0
Airport Code              29938
Airport Name              28303
Injury Severity               0
Aircraft Damage               0
Registration Number           0
Make                          0
Model                         0
Amateur Built                 0
Number Of Engines             0
Engine Type                   0
Purpose Of Flight             0
Total Fatal Injuries          0
Total Serious Injuries        0
Total Minor Injuries          0
Total Uninjured               0
Weather Condition             0
Broad Phase Of Flight     24011
Report Status                 0
Publication Date              0
dtype: int64

In [210]:
aviation_df["Broad Phase Of Flight"]= aviation_df["Broad Phase Of Flight"].fillna("Unknown")

In [211]:
aviation_df[["Airport Code", "Airport Name"]]=aviation_df[["Airport Code", "Airport Name"]].fillna('Unknown')
aviation_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73043 entries, 1 to 88888
Data columns (total 25 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Event Id                73043 non-null  object
 1   Investigation Type      73043 non-null  object
 2   Accident Number         73043 non-null  object
 3   Event Date              73043 non-null  datetime64[ns]
 4   Location                73043 non-null  object
 5   Country                 73043 non-null  object
 6   Airport Code            73043 non-null  object
 7   Airport Name            73043 non-null  object
 8   Injury Severity         73043 non-null  object
 9   Aircraft Damage         73043 non-null  object
 10  Registration Number     73043 non-null  object
 11  Make                    73043 non-null  object
 12  Model                   73043 non-null  object
 13  Amateur Built           73043 non-null  object
 14  Number Of Engines       73043 non-null  object
 15  Engine Type             73043 non-null  object
 16  Purpose Of Flight       73043 non-null  object
 17  Total Fatal Injuries    73043 non-null  float64
 18  Total Serious Injuries  73043 non-null  float64
 19  Total Minor Injuries    73043 non-null  float64
 20  Total Uninjured         73043 non-null  float64
 21  Weather Condition       73043 non-null  object
 22  Broad Phase Of Flight   73043 non-null  object
 23  Report Status           73043 non-null  object
 24  Publication Date        73043 non-null  datetime64[ns]
dtypes: datetime64[ns](2), float64(4), object(19)
memory usage: 14.5+ MB

In [212]:
aviation_df['Airport Name'] = aviation_df['Airport Name'].replace('PRIVATE', 'Private')

In [213]:
aviation_df['Airport Name'] = aviation_df['Airport Name'].replace('PRIVATE AIRSTRIP', 'Private')

In [214]:
aviation_df['Airport Name'] = aviation_df['Airport Name'].replace('PRIVATE STRIP', 'Private')
aviation_df['Airport Name'].value_counts()

Unknown                           28309
Private                             597
Private Airstrip                    152
NONE                                 98
None                                 86
                                  ...
DeKalb County Airport                 1
Ralph Wenz Field                      1
THOMSON MCDUFFIE COUNTY               1
Martin River Strip aka Old HEA        1
FAIRMONT                              1
Name: Airport Name, Length: 22125, dtype: int64

In [215]:
aviation_df['Airport Name'] = aviation_df['Airport Name'].replace('Private Airstrip', 'Private')
aviation_df['Airport Name'].value_counts()

Unknown                           28309
Private                             749
NONE                                 98
None                                 86
MERRILL FIELD                        71
                                  ...
QUAD-CITY                             1
WALKER COUNTY/BEVILL                  1
DUTCH JOHN AIRPORT                    1
Merced Regional/Macready Field        1
CHICKALOON AIRSTRIP                   1
Name: Airport Name, Length: 22124, dtype: int64

In [216]:
aviation_df['Airport Name'] = aviation_df['Airport Name'].replace('NONE', 'None')
aviation_df['Airport Name'].value_counts()

Unknown                           28309
Private                             749
None                                184
MERRILL FIELD                        71
CENTENNIAL                           69
                                  ...
Ft. Lauderdale Executive Apt.         1
Robert Newlon Field                   1
ZELMER MEMORIAL AIRPARK               1
L F Wade International Airport        1
CANADAIGUA AIRPORT                    1
Name: Airport Name, Length: 22123, dtype: int64

In [217]:
aviation_df['Airport Name'].value_counts()

Unknown                           28309
Private                             749
None                                184
MERRILL FIELD                        71
CENTENNIAL                           69
                                  ...
Ft. Lauderdale Executive Apt.         1
Robert Newlon Field                   1
ZELMER MEMORIAL AIRPARK               1
L F Wade International Airport        1
CANADAIGUA AIRPORT                    1
Name: Airport Name, Length: 22123, dtype: int64

In [218]:
aviation_df

,Event Id,Investigation Type,Accident Number,Event Date,Location,Country,Airport Code,Airport Name,Injury Severity,Aircraft Damage,...,Engine Type,Purpose Of Flight,Total Fatal Injuries,Total Serious Injuries,Total Minor Injuries,Total Uninjured,Weather Condition,Broad Phase Of Flight,Report Status,Publication Date
1,20001218X45447,Accident,LAX94LA336,1962-07-19,"BRIDGEPORT, CA",United States,Unknown,Unknown,Fatal(4),Destroyed,...,Reciprocating,Personal,4.0,0.0,0.0,0.0,UNK,Unknown,Probable Cause,1996-09-19
2,20061025X01555,Accident,NYC07LA005,1974-08-30,"Saltville, VA",United States,Unknown,Unknown,Fatal(3),Destroyed,...,Reciprocating,Personal,3.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2007-02-26
3,20001218X45448,Accident,LAX96LA321,1977-06-19,"EUREKA, CA",United States,Unknown,Unknown,Fatal(2),Destroyed,...,Reciprocating,Personal,2.0,0.0,0.0,0.0,IMC,Cruise,Probable Cause,2000-12-09
4,20041105X01764,Accident,CHI79FA064,1979-08-02,"Canton, OH",United States,Unknown,Unknown,Fatal(1),Destroyed,...,Unknown,Personal,1.0,2.0,0.0,0.0,VMC,Approach,Probable Cause,1980-04-16
5,20170710X52551,Accident,NYC79AA106,1979-09-17,"BOSTON, MA",United States,Unknown,Unknown,Non-Fatal,Substantial,...,Turbo Fan,Unknown,0.0,0.0,1.0,44.0,VMC,Climb,Probable Cause,2017-09-19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88882,20221222106486,Accident,CEN23LA068,2022-12-21,"Reserve, LA",United States,Unknown,Unknown,Minor,Unknown,...,Unknown,Instructional,0.0,1.0,0.0,1.0,Others,Unknown,Unknown,2022-12-27
88883,20221228106502,Accident,GAA23WA046,2022-12-22,"Brasnorte,",Brazil,Unknown,Unknown,Fatal,Unknown,...,Unknown,Unknown,1.0,0.0,0.0,0.0,Others,Unknown,Unknown,2022-12-28
88884,20221227106491,Accident,ERA23LA093,2022-12-26,"Annapolis, MD",United States,Unknown,Unknown,Minor,Unknown,...,Unknown,Personal,0.0,1.0,0.0,0.0,Others,Unknown,Unknown,2022-12-29
88886,20221227106497,Accident,WPR23LA075,2022-12-26,"Payson, AZ",United States,PAN,PAYSON,Non-Fatal,Substantial,...,Unknown,Personal,0.0,0.0,0.0,1.0,VMC,Unknown,Unknown,2022-12-27
88888,20221230106513,Accident,ERA23LA097,2022-12-29,"Athens, GA",United States,Unknown,Unknown,Minor,Unknown,...,Unknown,Personal,0.0,1.0,0.0,1.0,Others,Unknown,Unknown,2022-12-30

EXPLORING GROUPBY FUNCTIONS

In [219]:
#Tells you how many accidents occurred each year (trend analysis)
aviation_df.groupby(aviation_df['Event Date'].dt.year).size()

Event Date
1962       1
1974       1
1977       1
1979       2
1981       1
1982    3561
1983      24
1984      24
1985      20
1986     482
1987    2805
1988    2710
1989    2529
1990    2496
1991    2442
1992    2330
1993    2301
1994    2236
1995    2282
1996    2151
1997    2094
1998    2125
1999    2119
2000    2100
2001    1926
2002    1909
2003    1974
2004    1820
2005    1873
2006    1687
2007    1843
2008    1862
2009    1742
2010    1719
2011    1796
2012    1770
2013    1508
2014    1471
2015    1511
2016    1562
2017    1551
2018    1589
2019    1510
2020    1235
2021     859
2022    1489
dtype: int64

In [220]:
#Reveals which stage of flight (takeoff, cruise, landing, etc.) is riskies
aviation_df.groupby('Broad Phase Of Flight').size()

Broad Phase Of Flight
Approach        5206
Climb           1644
Cruise          8129
Descent         1525
Go-around       1061
Landing        12294
Maneuvering     6463
Other             90
Standing         771
Takeoff         9869
Taxi            1585
Unknown        24406
dtype: int64

In [221]:
#Distinguishes whether accidents were more common in training, commercial, or personal flights
aviation_df.groupby('Purpose Of Flight').size()

Purpose Of Flight
ASHO                             6
Aerial Application            3833
Aerial Observation             671
Air Drop                        10
Air Race show                   98
Air Race/show                   59
Banner Tow                     101
Business                      2949
Executive/corporate            404
External Load                  118
Ferry                          640
Firefighting                    38
Flight Test                    392
Glider Tow                      53
Instructional                 9131
Other Work Use                1085
PUBL                             1
PUBS                             4
Personal                     41752
Positioning                   1430
Public Aircraft                669
Public Aircraft - Federal      102
Public Aircraft - Local         72
Public Aircraft - State         62
Skydiving                      179
Unknown                       9184
dtype: int64